extends Layout/layout

block headers
  script(src="https://apis.google.com/js/platform.js" async defer)
  meta(name="google-signin-client_id" content=googleClientId)
  

block content
  p Welcome to #{title}

  div(class="g-signin2" data-onsuccess="onSignIn")
